* {
    font-family: Ubuntu, sans-serif;
}

body {
    background: #FFFFFF;
    color: #F37335;
}

nav {
    padding: 1em;
    max-height: 9em;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.list-object{
    max-height: 9em;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: left;
}

.navbar-object {
    margin: 0.5em;
    max-width: 10em;
    display: flex;
    text-align: center;
}

.navbar-subobject {
    padding: 0.20em;
    display: flex;
}

.navbar-object-text {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbar-object-text:hover {
    text-decoration: none;
    color: #FDC830;
}

.home-info {
    margin: 1em;
    max-width: 40em;
    display: inline-block;
}

.home-info-title {
    font-size: 1.5em;
}

.home-info-paragraph {
    margin: 1.50em;
    margin-bottom: 2em;
}

.boton {
    background-color: #F37335;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border: 0.15em solid #F37335;
    border-radius: 0.5em;
    padding: 0.7em;
    margin: 1.5em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.boton:hover {
    background-color: white;
    color: #F37335;
    text-align: center;
    text-decoration: none;
    border: 0.15em solid #F37335;
    border-radius: 0.5em;
    padding: 0.7em;
    margin: 1.5em;
}

.flex-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-content: stretch; */
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: red; */
    padding: 1em;
}

.flex-container div {
    /* background-color: blue; */
    color: #F37335;
    margin: 0.5em;
    width: 7.5em;
    min-width: 7.5em;
    height: 10.5em;
    text-align: center;
    font-size: 2em;
    border: 0.25em solid #FDC830;
}

.image-project{
    width: 6em;
    height: 7em;
    margin: 0.5em;
}

.proyect-name {
    font-size: 100%;
    margin: 0.1em;
    text-decoration: none;
    color: #F37335;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.proyect-name:hover {
    text-decoration: none;
    color: #FDC830;
    font-weight: bold;
}
